:root {
  --col0:#0d2b45;
  --col1:#203c56;
  --col2:#544e68;
  --col3:#8d697a;
  --col4:#d08159;
  --col5:#ffaa5e;
  --col6:#ffd4a3;
  --col7:#ffecd6;
  --height:80%;
}
body {
  background: var(--col0);
  color: var(--col7);
  font-family: sans-serif;
  border-color: var(--col5);
}

.header {
  display: block;
  align-items: center;
  justify-content: center;
}

.toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.toolbar-annotation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  width: 20%;
  border: 2px solid;
  border-radius: 5px;
}

.viewport-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  width: 65%;
  border: 2px solid;
  gap: 0.5%;
  border-radius: 5px;
}

button, .image-upload {
  background-color: var(--col1);
  font-size: 16px;
  border-radius: 5px;
  color: var(--col7);
  padding: 2%;
  border: 2px solid;
  transition-duration: 0.1s;
  align-items: center;
  justify-content: center;
}

input[type=file] {
  display: none;
}



button:hover, .image-upload:hover {
  scale: 1.1;
}

button:active, .image-upload:active  {
  background-color: var(--col0);
  scale: 0.9;
}

.viewport-tools button.current {
  background-color: var(--col3);
}

.image-list-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
  width: 15%;
  max-width: 15%;
  border: 2px solid;
  border-radius: 5px;

  overflow: hidden auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--col7) var(--col1) ;
}

.viewport-tools p {
  color: var(--col6);
  font-size: 12px;
}

.tool-button {
}

.main-app {
  height: var(--height);
  gap: 10px;
  display: flex;
  flex-direction: row;
}

.image-list {
  display: flex;
  flex-direction: column;

  width: 15%;
  height: 100%;
  padding: 4px;
  border: 2px solid;
  border-radius: 5px;
  gap: 1%;

  overflow: hidden auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--col7) var(--col1) ;
}


.image-preview {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 56px;
  padding: 2px;
  border: 2px solid;
  border-radius: 5px;
  align-items: center;
}
.image-preview:hover {
  background: var(--col1);
}

.image-preview div {
  display: grid;
  align-items: center;
  height: 100%;
  padding: 5px;
}

.image-preview-image {
  width: 64px;
  height: 48px;
  min-width: 64px;
  object-fit: cover;
  border-radius: 10px;
}

.image-name {
  font-size: 12pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.annotation-count {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  color: var(--col6);
  font-size: 8px;
}

.viewport {
  padding: 4px;
  user-select: none;
  width: 65%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  background-image:
    linear-gradient(45deg, var(--col1) 25%, transparent 25%),
    linear-gradient(-45deg, var(--col1) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--col1) 75%),
    linear-gradient(-45deg, transparent 75%, var(--col1) 75%);
  background-size: 20px 20px;
  border: 2px solid;
  border-radius: 5px;
  border-color: var(--col7);
}


.viewport-items {
}

.annotations-container{
  position: absolute;
  top: 0;
  left: 0;
}

#main-image {
  pointer-events: none;
}

.note {
  display: flex;
  flex-direction: column;
  gap: 0%;
}

.note.selected .box {
  scale: 1.1;
  border: 3px dashed;
  border-color: var(--col0);
}

.note p {
  position: absolute;
  white-space: nowrap;
  padding: 2px;
  border: 1px solid;
  border-radius: 5px;
}

.note .box {
  transition-duration: 0.1s;
  position: absolute;
  top: 0px;
  border: 1px solid;
}

.note .handle {
  border: 4px solid;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--col0);
  border-color: var(--col7);
  translate: -4px -4px;
}

.annotation-editor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding: 4px;
  width: 20%;
  user-select: none;
  height: 100%;
  background-color: var(--col0);
  border: 2px solid;
  border-radius: 5px;
  border-color: var(--col7);
}

#tag-editor {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 5px;
  border-color: var(--col7);
  background: var(--col1);
  padding: 5%;
  grid-column-start: 1;
  grid-column-end: 3;
}


.infobox {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 5px;
  border-color: var(--col7);
  background: var(--col1);
  padding: 10px;
  margin: 10px;
  gap: 0px;
}

.infobox .label {
  color: var(--col6);
  font-size: 12px;
}

.infobox .info {
  padding-left: 8px;
  font-size: 16px;
}

#tag-editor input {
  width: 100%;
  height: 80%;
  border-color: var(--col7);
  background: var(--col0);
  color: var(--col7);
}

#color-box label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#alpha-box label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tag-font-size-input {
  width: 100%;
}
#tag-circular label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#tag-circular-input {
  scale: 2;
}

